<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Currículo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/style/Janela.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/style/Site-Curriculo.css')}}">
</head>
<body>
    <div class="window" id="window">
        <div class="window-title">
            <h2>Portfólio</h2>
        </div>
        <div class="window-content">
            <a href="https://johnbaska.github.io/" class="header">
                <h1 class="titulo">Site Currículo</h1>
            </a>
            <p class="subtitulo">Eu fiz esse site com a finalidade de Fazer meu curriculo ficar online.</p>
            
            <p class="data-publicacao" >Publicado: 30/08/24</p>
            
            
            <div class="separador"></div>

            <div class="conteudo">
                <h2>Header</h2>

                <ul>
                    <li>Meu nome de forma abreviada</li>
                    <li>Minha área de atuação</li>
                    <li>Cidade onde moro</li>
                    <li>Meu email para contato</li>
                    <li>Última atualização</li>
                </ul> 

                <h2>Main</h2>

                <ul>
                    <li>Sessão Sobre Mim</li>
                    <li>Sessão Experiência Profissional</li>
                    <li>Sessão Educação</li>
                    <li>Sessão Compentências</li>
                    <li>Sessão Projetos</li>
                </ul>
                
                <h2>Footer</h2>

                <ul>
                    <li>Nada de interessante por enquanto</li>
                </ul>
            </div>

            
        </div>
        
    </div>
</body>
</html>